html {
    width: 100%;
    min-height: 100%; /* using fixed height causes issues in smartphone landscape mode */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
figure {
    margin: 1rem 0;
    max-width: 250px; 
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}
figure img {
    width: 100%;
    border-radius: 12px;
}
figure h2 {
    margin: 1rem 0;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}
figure p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 1.5rem;
}
p a {
    color: hsl(218, 44%, 22%);
    text-decoration: none;
    transition: color 0.2s ease-out;
}
p a:hover {
    color: #2B7DFA;
}